body{
margin:0;
    padding-top: 800px;
    text-align: center;
}
.profile{
width: 175px;
margin-bottom: 50px;
border-radius: 50%;    
}
#welcome {
position: absolute;
height: 800px;
color: aquamarine;
left: 0;
top: 0;
bottom: 0;
right: 0;
background: linear-gradient(#10e6e6 0%,#038f57 100%);
width: 100%;
height: 100%;
z-index: 9    
}
.links {
float: left;
color: chocolate;
padding-top:5px; 
padding-left:9px;
padding-right:9px;
padding-bottom:5px;
font-family: fantasy;
font-size: 20px;    
}
.links:hover{
background-color: darkgray;    
}
#name{
font-size: 30px;
font-family: 'Kenia', cursive;    
}